

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

header {
    background-color: #004c54; 
    color: white;
    text-align: center;
    padding: 15px;
}


.container {
    display: flex;
    min-height: 80vh;
}

nav {
    background-color: #000000; 
    color: white;
    width: 180px;
    padding: 15px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
}

nav a:hover {
    text-decoration: underline;
}
main {
    flex: 1;
    background-color: white;
    padding: 15px;
}

aside {
    background-color: #a5acaf; 
    width: 180px;
    padding: 15px;
    font-size: 14px;
}

footer {
    background-color: #004c54;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
